 .footer-main {
    background-color: #013e72; 
    color: #fff; 
    text-align: center; 
    height: 20vh; 
    position: relative; 
    border-radius: 10px;
}

.footer-logo {
    display: flex;
    align-items: center;
}
  
.footer-logo-img {
    height: 10vh;
    margin-right: 2vw;  
}

.footer-social {
    position: absolute; 
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex; 
    gap: 15px; 
}

.footer-icon {
    width: 24px; 
    height: 24px; 
    cursor: pointer;
}

.footer-icon:hover {
    color: rgb(213, 205, 205);
}

.footer-contact {
        position: absolute; 
    right: 20px; 
    top: 15%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; 
    margin-right: 2vw;
    
}

.contact-item {
    margin-bottom: 10px;
}

.contact-item a {
    color: white;
    text-decoration: none;
}

.footer-links {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 20px; 
}

.footer-link {
    margin: 5px 0; 
    color: #fff; 
    text-decoration: none; 
    font-size: 16px; 
}

.footer-link:hover {
    text-decoration: solid; 
    color: chocolate;
    font-size: 18px; 
}


.footer-copyright {
    font-size: 14px; 
    position: absolute; 
    bottom: 10px; 
    width: 100%; 
    text-align: center; 
} 
