 .footer-main {
    background-color: #013e72; 
    color: #fff; 
    text-align: center; 
    height: 20vh; 
    position: relative; 
    /* border-radius: 10px; */
}

.footer-logo {
    display: flex;
    align-items: center;
}
  
.footer-logo-img {
    height: 20vh;
    margin-right: 2vw;  
}

.footer-social {
    position: absolute; 
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex; 
    gap: 15px; 
}

.footer-icon {
    width: 24px; 
    height: 24px; 
    cursor: pointer;
}

.footer-icon:hover {
    color: rgb(213, 205, 205);
}

/* .footer-contact {
    background-color: #e40f0f;
        position: absolute; 
    right: 2%; 
    top: 15%; 
    bottom: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; 
    
}

.contact-item {

    margin: auto;
}

.contact-item a {
    color: white;
    text-decoration: none;
} */

.footer-contact {
    /* background-color: #e40f0f; */
    position: absolute;
    right: 2%;
    top: 15%;
    bottom: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.contact-item {
    margin: auto;
}

.contact-item a {
    color: white;
    text-decoration: none;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .footer-contact {
        position: relative;
        background-color: #013e72;
        height: 20vh;
        width: 100vw;
        /* border-radius: 10px; */
        right: 2%;
        bottom: 0;
        top: auto;  /* Remove the top positioning */
    }
}


.footer-links {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 20px; 
}

.footer-link {
    margin: 5px 0; 
    color: #fff; 
    text-decoration: none; 
    font-size: 16px; 
}

.footer-link:hover {
    text-decoration: solid; 
    color: chocolate;
    font-size: 18px; 
}


.footer-copyright {
    font-size: 14px; 
    position: absolute; 
    bottom: 10px; 
    width: 100%; 
    text-align: center; 
} 

